#main{
    background-color: rgb(221, 82, 32);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 500px;
    margin: 0 auto;
}
#sec{
    background-color: white;
    text-align: center;
    
}